.navApp {
  background-color: black;
  color: white;
  font-size: 20px;
  padding: 20px;
  border-bottom: 7px black;
}

#name {
  font-size: 25px;
}

.container {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: gray;
}

.card-header {
  border-top: 5px solid black;
  border-left: 5px solid black;
  border-right: 5px solid black;
}

.card-body {
  border-left: 5px solid black;
  border-bottom: 5px solid black;
  border-right: 5px solid black;
}

.aboutApp,
.portfolioApp,
.contactApp,
html {
  background-color: grey;
}
